<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Soroban"
        tools:targetApi="31">
        <activity
            android:name=".activity.EventEntrantsGeolocationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CreateFacilityActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- User Dashboard Activity -->
        <activity
            android:name=".activity.UserDashboardActivity"
            android:exported="false"
            android:label="@string/user_dashboard_title" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity android:name=".activity.QrCodeScanActivity" />
        <activity android:name=".activity.ConfirmedEventsActivity" />
        <activity android:name=".activity.InvitationActivity" />
        <activity android:name=".activity.OrganizerDashboardActivity" />
        <activity android:name=".activity.FacilityDisplayActivity" />
        <activity android:name=".activity.ManageFacilityActivity" />
        <activity android:name=".activity.CreateEventActivity" />
        <activity android:name=".activity.UserEventActivity" />
        <activity android:name=".activity.AdminDashboardActivity" />
        <activity android:name=".activity.AdminBrowseEventActivity" />
        <activity android:name=".activity.AdminBrowseFacilityActivity" />
        <activity android:name=".activity.AdminBrowseProfileActivity" />
        <activity android:name=".activity.AdminBrowseImagesActivity" />
        <activity android:name=".activity.AdminViewProfileActivity" />
        <activity android:name=".activity.AdminViewEventActivity" />
        <activity android:name=".activity.AdminViewFacilityActivity" />
        <activity android:name=".activity.OrganizerEventViewDetailsActivity" />
        <activity android:name=".activity.OrganizerEventEditDetailsActivity" />
        <activity android:name=".activity.EventEntrantsListActivity" />
        <activity android:name=".activity.EventUsersWaitlistedActivity" />
        <activity android:name=".activity.EventUsersConfirmedActivity" />
        <activity android:name=".activity.EventUsersCancelledActivity" />
        <activity android:name=".activity.EventUsersInvitedActivity" />
        <activity android:name=".EventDetailsActivity" />

    </application>

</manifest>